.game-container {
  outline: 4px solid #af9681;
  margin-top: 40px;
  position: relative;
  padding: 2px;
  background: #e6d7c9;
  cursor: default;
  width: 600px;
  height: 600px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
}

.grid-container {
  position: absolute;
  z-index: 1;
}

.balls-container {
  position: absolute;
  z-index: 2;
}

.grid-row {
  margin-bottom: 2px;
}

.grid-row:after {
  content: "";
  display: block;
  clear: both;
}

.grid-row:last-child {
  margin-bottom: 0;
}

.grid-cell {
  width: 64.44444px;
  height: 64.44444px;
  float: left;
  margin-right: 2px;
  background: #f0ebe6;
}

.grid-cell:last-child {
  margin-right: 0;
}

.ball {
  width: 54.44444px;
  height: 54.44444px;
  border-radius: 50%;
}

.ball.ball-position-1-1 {
  position: absolute;
  left: 5px;
  top: 5px;
}

.ball.ball-position-1-2 {
  position: absolute;
  left: 5px;
  top: 71px;
}

.ball.ball-position-1-3 {
  position: absolute;
  left: 5px;
  top: 138px;
}

.ball.ball-position-1-4 {
  position: absolute;
  left: 5px;
  top: 204px;
}

.ball.ball-position-1-5 {
  position: absolute;
  left: 5px;
  top: 271px;
}

.ball.ball-position-1-6 {
  position: absolute;
  left: 5px;
  top: 337px;
}

.ball.ball-position-1-7 {
  position: absolute;
  left: 5px;
  top: 404px;
}

.ball.ball-position-1-8 {
  position: absolute;
  left: 5px;
  top: 470px;
}

.ball.ball-position-1-9 {
  position: absolute;
  left: 5px;
  top: 537px;
}

.ball.ball-position-2-1 {
  position: absolute;
  left: 71px;
  top: 5px;
}

.ball.ball-position-2-2 {
  position: absolute;
  left: 71px;
  top: 71px;
}

.ball.ball-position-2-3 {
  position: absolute;
  left: 71px;
  top: 138px;
}

.ball.ball-position-2-4 {
  position: absolute;
  left: 71px;
  top: 204px;
}

.ball.ball-position-2-5 {
  position: absolute;
  left: 71px;
  top: 271px;
}

.ball.ball-position-2-6 {
  position: absolute;
  left: 71px;
  top: 337px;
}

.ball.ball-position-2-7 {
  position: absolute;
  left: 71px;
  top: 404px;
}

.ball.ball-position-2-8 {
  position: absolute;
  left: 71px;
  top: 470px;
}

.ball.ball-position-2-9 {
  position: absolute;
  left: 71px;
  top: 537px;
}

.ball.ball-position-3-1 {
  position: absolute;
  left: 138px;
  top: 5px;
}

.ball.ball-position-3-2 {
  position: absolute;
  left: 138px;
  top: 71px;
}

.ball.ball-position-3-3 {
  position: absolute;
  left: 138px;
  top: 138px;
}

.ball.ball-position-3-4 {
  position: absolute;
  left: 138px;
  top: 204px;
}

.ball.ball-position-3-5 {
  position: absolute;
  left: 138px;
  top: 271px;
}

.ball.ball-position-3-6 {
  position: absolute;
  left: 138px;
  top: 337px;
}

.ball.ball-position-3-7 {
  position: absolute;
  left: 138px;
  top: 404px;
}

.ball.ball-position-3-8 {
  position: absolute;
  left: 138px;
  top: 470px;
}

.ball.ball-position-3-9 {
  position: absolute;
  left: 138px;
  top: 537px;
}

.ball.ball-position-4-1 {
  position: absolute;
  left: 204px;
  top: 5px;
}

.ball.ball-position-4-2 {
  position: absolute;
  left: 204px;
  top: 71px;
}

.ball.ball-position-4-3 {
  position: absolute;
  left: 204px;
  top: 138px;
}

.ball.ball-position-4-4 {
  position: absolute;
  left: 204px;
  top: 204px;
}

.ball.ball-position-4-5 {
  position: absolute;
  left: 204px;
  top: 271px;
}

.ball.ball-position-4-6 {
  position: absolute;
  left: 204px;
  top: 337px;
}

.ball.ball-position-4-7 {
  position: absolute;
  left: 204px;
  top: 404px;
}

.ball.ball-position-4-8 {
  position: absolute;
  left: 204px;
  top: 470px;
}

.ball.ball-position-4-9 {
  position: absolute;
  left: 204px;
  top: 537px;
}

.ball.ball-position-5-1 {
  position: absolute;
  left: 271px;
  top: 5px;
}

.ball.ball-position-5-2 {
  position: absolute;
  left: 271px;
  top: 71px;
}

.ball.ball-position-5-3 {
  position: absolute;
  left: 271px;
  top: 138px;
}

.ball.ball-position-5-4 {
  position: absolute;
  left: 271px;
  top: 204px;
}

.ball.ball-position-5-5 {
  position: absolute;
  left: 271px;
  top: 271px;
}

.ball.ball-position-5-6 {
  position: absolute;
  left: 271px;
  top: 337px;
}

.ball.ball-position-5-7 {
  position: absolute;
  left: 271px;
  top: 404px;
}

.ball.ball-position-5-8 {
  position: absolute;
  left: 271px;
  top: 470px;
}

.ball.ball-position-5-9 {
  position: absolute;
  left: 271px;
  top: 537px;
}

.ball.ball-position-6-1 {
  position: absolute;
  left: 337px;
  top: 5px;
}

.ball.ball-position-6-2 {
  position: absolute;
  left: 337px;
  top: 71px;
}

.ball.ball-position-6-3 {
  position: absolute;
  left: 337px;
  top: 138px;
}

.ball.ball-position-6-4 {
  position: absolute;
  left: 337px;
  top: 204px;
}

.ball.ball-position-6-5 {
  position: absolute;
  left: 337px;
  top: 271px;
}

.ball.ball-position-6-6 {
  position: absolute;
  left: 337px;
  top: 337px;
}

.ball.ball-position-6-7 {
  position: absolute;
  left: 337px;
  top: 404px;
}

.ball.ball-position-6-8 {
  position: absolute;
  left: 337px;
  top: 470px;
}

.ball.ball-position-6-9 {
  position: absolute;
  left: 337px;
  top: 537px;
}

.ball.ball-position-7-1 {
  position: absolute;
  left: 404px;
  top: 5px;
}

.ball.ball-position-7-2 {
  position: absolute;
  left: 404px;
  top: 71px;
}

.ball.ball-position-7-3 {
  position: absolute;
  left: 404px;
  top: 138px;
}

.ball.ball-position-7-4 {
  position: absolute;
  left: 404px;
  top: 204px;
}

.ball.ball-position-7-5 {
  position: absolute;
  left: 404px;
  top: 271px;
}

.ball.ball-position-7-6 {
  position: absolute;
  left: 404px;
  top: 337px;
}

.ball.ball-position-7-7 {
  position: absolute;
  left: 404px;
  top: 404px;
}

.ball.ball-position-7-8 {
  position: absolute;
  left: 404px;
  top: 470px;
}

.ball.ball-position-7-9 {
  position: absolute;
  left: 404px;
  top: 537px;
}

.ball.ball-position-8-1 {
  position: absolute;
  left: 470px;
  top: 5px;
}

.ball.ball-position-8-2 {
  position: absolute;
  left: 470px;
  top: 71px;
}

.ball.ball-position-8-3 {
  position: absolute;
  left: 470px;
  top: 138px;
}

.ball.ball-position-8-4 {
  position: absolute;
  left: 470px;
  top: 204px;
}

.ball.ball-position-8-5 {
  position: absolute;
  left: 470px;
  top: 271px;
}

.ball.ball-position-8-6 {
  position: absolute;
  left: 470px;
  top: 337px;
}

.ball.ball-position-8-7 {
  position: absolute;
  left: 470px;
  top: 404px;
}

.ball.ball-position-8-8 {
  position: absolute;
  left: 470px;
  top: 470px;
}

.ball.ball-position-8-9 {
  position: absolute;
  left: 470px;
  top: 537px;
}

.ball.ball-position-9-1 {
  position: absolute;
  left: 537px;
  top: 5px;
}

.ball.ball-position-9-2 {
  position: absolute;
  left: 537px;
  top: 71px;
}

.ball.ball-position-9-3 {
  position: absolute;
  left: 537px;
  top: 138px;
}

.ball.ball-position-9-4 {
  position: absolute;
  left: 537px;
  top: 204px;
}

.ball.ball-position-9-5 {
  position: absolute;
  left: 537px;
  top: 271px;
}

.ball.ball-position-9-6 {
  position: absolute;
  left: 537px;
  top: 337px;
}

.ball.ball-position-9-7 {
  position: absolute;
  left: 537px;
  top: 404px;
}

.ball.ball-position-9-8 {
  position: absolute;
  left: 537px;
  top: 470px;
}

.ball.ball-position-9-9 {
  position: absolute;
  left: 537px;
  top: 537px;
}

.ball-color-green {
  background: green;
}

.ball-color-red {
  background: red;
}

.ball-color-yellow {
  background: yellow;
}

.ball-color-violet {
  background: violet;
}

.ball-color-blue {
  background: blue;
}

.ball-color-orange {
  background: orange;
}

.ball-color-pink {
  background: pink;
}
/*# sourceMappingURL=style.css.map */