$field-width: 600px;
$grid-spacing: 2px;
$grid-row-cells: 9;
$grid-border-color: #af9681;
$grid-border-width: 4px;
$ball-size: ($field-width - $grid-spacing * ($grid-row-cells + 1)) / $grid-row-cells;
$text-color: #776E65;
$bright-text-color: #f9f6f2;

$ball-color: #f0ebe6;
$ball-gold-color: #edc22e;
$ball-gold-glow-color: lighten($ball-gold-color, 15%);
$ball-border-width: 1px;
$game-bg: darken(#eee4da, 5%);

.game-container {
  outline: $grid-border-width solid $grid-border-color;
  margin-top: 40px;
  position: relative;
  padding: $grid-spacing;
  background: $game-bg;
  cursor: default;
  width: $field-width;
  height: $field-width;
  box-sizing: border-box;
  float: left;
}

.grid-container {
  position: absolute;
  z-index: 1;
}

.balls-container {
  position: absolute;
  z-index: 2;
}

  .grid-row {
    margin-bottom: $grid-spacing;
    &:after {
      content: "";
      display: block;
      clear: both;
    }
    
    &:last-child {
      margin-bottom: 0;
    }
  }

  .grid-cell {
    width: $ball-size;
    height: $ball-size;
    float: left;
    margin-right: $grid-spacing;
    background: $ball-color;

    &:last-child {
      margin-right: 0;
    }
  }

@mixin ball-mixin {
  .ball {
    width: $ball-size - 10px;
    height: $ball-size - 10px;
    border-radius: 50%;

    @for $x from 1 through $grid-row-cells {
      @for $y from 1 through $grid-row-cells {
        &.ball-position-#{$x}-#{$y} {
          position: absolute;
          left: round(($ball-size + $grid-spacing) * ($x - 1) + 5px);
          top: round(($ball-size + $grid-spacing) * ($y - 1) + 5px);
        }
      }
    }
  }
}

@include ball-mixin();

.ball-color-green {
  background: green;
}
.ball-color-red {
  background: red;
}
.ball-color-yellow {
  background: yellow;
}
.ball-color-violet {
  background: violet;
}
.ball-color-blue {
  background: blue;
}
.ball-color-orange {
  background: orange;
}
.ball-color-pink {
  background: pink;
}